<a href="https://colab.research.google.com/github/MartinTiong/CPE-311/blob/main/Seatwork_7_1_Programming_Exercise_Data_Wrangling_with_Pandas_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Seatwork 7.1 Programming Exercise: Data Wrangling with Pandas - Part 1


----------------

In [2]:
import pandas as pd
df= pd.read_csv("/content/Meteorite_Landings.csv")
df.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)"

In [3]:

df["year"] = df["year"].str.slice(0, 4)

df["year"] = pd.to_numeric(df["year"], errors="coerce")

df["year"].head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: year, dtype: float64

In [4]:
df["observed_before_1970"] = df["year"] < 1970

df[["year", "observed_before_1970"]].head()

   year  observed_before_1970
0   NaN                 False
1   NaN                 False
2   NaN                 False
3   NaN                 False
4   NaN                 False

In [5]:
df = df.set_index("id").sort_index()

In [6]:
subset = df.loc[10036:10040]
subset

,name,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation,observed_before_1970
id,,,,,,,,,,
10036,Enigma,Valid,H4,94.0,Found,NaN,31.33333,-82.31667,"(31.33333, -82.31667)",False
10037,Enon,Valid,"Iron, ungrouped",763.0,Found,NaN,39.86667,-83.95000,"(39.86667, -83.95)",False
10038,Enshi,Valid,H5,8000.0,Fell,NaN,30.30000,109.50000,"(30.3, 109.5)",False
10039,Ensisheim,Valid,LL6,127000.0,Fell,NaN,47.86667,7.35000,"(47.86667, 7.35)",False