<a href="https://colab.research.google.com/github/MartinTiong/CPE-311/blob/main/Seatwork_7_2_Programming_Exercise_Data_Wrangling_with_Pandas_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Seatwork 7.2 Programming Exercise: Data Wrangling with Pandas - Part 2


---

##Exercise 4

In [1]:
import pandas as pd

df = pd.read_csv("/content/Meteorite_Landings.csv")

##limiting the years

In [2]:
df["year"] = df["year"].str.slice(0, 4)
df["year"] = pd.to_numeric(df["year"], errors="coerce")

df_2005_2009 = df[(df["year"] >= 2005) & (df["year"] <= 2009)]

In [23]:
pivot = pd.pivot_table(
    df_2005_2009,
    index="year",
    columns="fall",
    values="mass (g)",
    aggfunc=["count", lambda x: x.quantile(0.95)]
)

pivot

Empty DataFrame
Columns: []
Index: []

##Exercise 5

In [20]:
taxi = pd.read_csv("/content/2019_Yellow_Taxi_Trip_Data.csv")

In [22]:
taxi["tpep_dropoff_datetime"] = pd.to_datetime(taxi["tpep_dropoff_datetime"])
taxi = taxi.set_index("tpep_dropoff_datetime")

In [25]:
hourly = taxi.resample("H").agg({
    "trip_distance": "sum",
    "fare_amount": "sum",
    "tolls_amount": "sum",
    "tip_amount": "sum"
})

hourly.head()

/tmp/ipython-input-440918842.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly = taxi.resample("H").agg({

                       trip_distance  fare_amount  tolls_amount  tip_amount
tpep_dropoff_datetime
2019-10-23 07:00:00             0.67          4.5           0.0         0.0
2019-10-23 08:00:00            17.07         62.5           0.0         4.0
2019-10-23 09:00:00             1.58         58.0           0.0         0.0
2019-10-23 10:00:00             0.00          0.0           0.0         0.0
2019-10-23 11:00:00             0.00          0.0           0.0         0.0

In [26]:
hourly = taxi.resample("H").agg({
    "trip_distance": "sum",
    "fare_amount": "sum",
    "tolls_amount": "sum",
    "tip_amount": "sum"
})

hourly.head()

/tmp/ipython-input-440918842.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly = taxi.resample("H").agg({

                       trip_distance  fare_amount  tolls_amount  tip_amount
tpep_dropoff_datetime
2019-10-23 07:00:00             0.67          4.5           0.0         0.0
2019-10-23 08:00:00            17.07         62.5           0.0         4.0
2019-10-23 09:00:00             1.58         58.0           0.0         0.0
2019-10-23 10:00:00             0.00          0.0           0.0         0.0
2019-10-23 11:00:00             0.00          0.0           0.0         0.0

In [27]:
top_tip_hours = hourly.nlargest(5, "tip_amount")
top_tip_hours

                       trip_distance  fare_amount  tolls_amount  tip_amount
tpep_dropoff_datetime
2019-10-23 16:00:00         10676.95     67797.76        699.04    12228.64
2019-10-23 17:00:00         16052.83     70131.91       4044.04    12044.03
2019-10-23 18:00:00          3104.56     11565.56       1454.67     1907.64
2019-10-23 15:00:00            14.34       213.50          0.00       51.75
2019-10-23 19:00:00            98.59       268.00         24.48       25.74